.card-center {
    margin-bottom: 0px;
    margin-top: 150;
    margin-right: 100px;
    margin-left: 150px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}